.container{
    display: flex;
    gap: 100px;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.subtitle{
    color: var(--btn);
}

.desc{
    font-size: 20px;
    .0000000000000
    font-weight: 300;
}

.imgContainer{
    flex: 1;
    position: relative;
}

.boxes{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.box h1{
    color: var(--btn);
}

