.container {
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 20px;
}

/* Image container styling */
.imgContainer {
    flex: 1;
    position: relative;
    height: 500px;
}

/* Image styling */
.contactImg {
    object-fit: contain;
}

/* Form container styling */
.formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background-color: white;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input and Textarea styling */
.form input,
.form textarea {
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
    outline: none;
    background-color: var(--bgSoft);
    color: black;
    border: 1px solid #ccc; /* Adds a border to inputs */
}

/* Button styling */
.form button {
    padding: 20px;
    background-color: var(--btn);
    color: var(--text);
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Adds rounded corners to the button */
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 10px;
    }

    .formContainer {
        width: 100%;
    }

    .imgContainer {
        height: 300px;
    }
}
