.container{
    display: flex; 
    align-items: center;
    gap: 100px;
}

.imgContainer{
    flex: 1;
    position: relative;
    height: 500px;

}

.formContainer{
    flex: 1;
    
}

.contactImg{
    object-fit: contain;
}


.formContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background-color: white;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.form input,
.form textarea{
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
}


.form button{
    padding: 20px;
    background-color: var(--btn);
    color:  var(--text);
    font-weight: bold;
    border: none;
    cursor: pointer;

}



