.links{
    display: flex;
    align-items: center;
    gap: 10px;

}

.Logout{
    padding: 10px;   
    cursor: pointer;
    font-weight: bold;
}

/* 5424 */

.mobileLinks,
 .menuButton{
    display: none;
}

@media (max-width: 768px){
    .links{
        display: none;
    }

    .menuButton{
        display: block;
        cursor: pointer;
        font-size: 30px;
        font-weight: bold;
    }


    
    .mobileLinks{
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        /* background-color: var(--bg); */
        background-color: rgb(70, 70, 92);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;   
    }

    
}




