.container {
    display: flex;
    gap: 100px;
    height: 100vh;
    width: 100vw;
    margin-top: 60px;
    /* background-color: rgb(15, 15, 95); */
  }
  
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .brands {
    width:200px;
    height: 100px;
    position: relative;
    filter: grayscale(1);
  }
  
  .imgContainer {
    flex: 1;
    position: relative;
  }
  
  .title {
    font-size: 50px;
    font-weight: 500;
    gap: 10px;
  }

  .title2 {
    font-size: 25px;
    font-weight: 500;
    gap: 10px;
  }
  
  .desc {
    font-size: 10px;
  }
  
  .button {
    padding: 10px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    gap: 20px;
    margin: 10px 0;
  }
  
  .buttons {
    display: flex;
    gap: 20px; 
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .buttons:first-child {
    background-color: var(--btn-bg);
    color: var(--text);
  }

  @media screen and (max-width: 768px) {
    .imgContainer {
      flex-basis: 20%; /* Adjust as needed */
    }
  }
  
  @media screen and (max-width: 576px) {
    .imgContainer {
      flex-basis: 20%; /* Adjust as needed */
    }
  }


  