.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;
    padding: 0 50px;
    background-color: rgb(93, 62, 233);
}

.logo{
    font-weight: bold;
}

.text{
    font-size: 14px;
}